body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.title:hover{
  cursor:pointer;
  color:#01879a;
}

.finished{
  text-decoration: line-through;
}

.taskList{
  text-align:center;
}

.task{
  margin:20px;
  border: 3px solid black;
  opacity: .9;
}

body{
  /*background: url("background.jpg") no-repeat top center fixed;*/
  background-color:gray;
  background-size:70%;
}

.formdiv{
  width:100%;
  text-align:center;
}

.todoForm {
  padding: 15px;
  text-align: center;
  background-color:#9a0116;
  width:300px;
  margin: 0 auto;
  border-radius:10px;
  display:none;
}

.notice{
  margin:20px;
  border-radius: 10px;
  display:none;
  color:#9a0116;
  background-color:white;
  padding:7px;
}

.input{
  margin:5px;
}

.todoBox{
  margin-top:160px;
  text-align:center;
}

.newList{
  width:95px;
  display:none;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color:#05afc7;
  border:1px solid #01879a;
  color:white;

}

.newList:hover{
  background-color:#01879a;
  border:1px solid #01879a;
  color:white;
}
